/**************************************
    Template Selector
 **************************************/
.wp-tiles-template-selector {
    list-style: none;

    li {
        @include background-image(linear-gradient(#252525,#0A0A0A));
        border: 1px solid #ffffff;

        display: inline;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        text-align: center;
        padding: 6px 9px;

        &:hover {
            border: 1px solid #999999;
        }
    }
}