/* ==========================================================================
   BASE: Tile with BG image
   ========================================================================== */
.wp-tiles-tile-bg {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-size: cover;
    background-position: 50% 50%;
}

.wp-tiles-tile-with-image {

    .wp-tiles-byline {
        position: absolute;
        left: 0;
        right: 0;

        .wp-tiles-byline-align-top & {
            top: 0;
        }
        .wp-tiles-byline-align-bottom & {
            bottom: 0;
        }

        background: rgba(0, 0, 0, 0.8);
        //padding: 5px;
        max-height: 100%;
    }

    .wp-tiles-byline-title {
    //h1, h2, h3, h4, h5, h6 {

        //font-weight: 600;
        margin: 0;

        color: white;
        overflow: hidden;
        padding: 5px;
        padding-top: 2px;
    }

    .wp-tiles-byline-content {
        padding: 5px;
        font-size: 10px;
        font-weight: 600;
        color: #EEE;

        width: 90%;
        overflow: hidden;

        //white-space: nowrap;
        //text-overflow: ellipsis;
    }
}