/* ==========================================================================
   BASE: Text Only
   ========================================================================== */

.wp-tiles-tile-text-only {
    background-color: transparent;
    width: 100%;
    height: 100%;
    opacity: 1;
    //padding: 5px;

    .wp-tiles-byline {

    }
    .wp-tiles-byline-title {
        margin: 0;
        font-size: 1.5em;
        line-height: 1.15em;
        padding-top: 15px;
        color: #282828;
        width: 85%;
        //height: 6.4em;
    }

    .wp-tiles-byline-content {
        color: #303030;
        font-style: normal;
        font-size: 14px;
        font-weight: 600;
    }
}