@import "compass";

@mixin user-select($select) {
    $select: unquote($select);
    @include experimental(user-select, $select,
     -moz, -webkit, not -o, not -ms, -khtml, official
    );
}

/**************************************
    Admin
 **************************************/
@import 'admin';

/**************************************
    Frontend
 **************************************/
@import 'template_selector';

/* ==========================================================================
   Base Styles
   ========================================================================== */

.wp-tiles-container {
	width: auto;
	height: auto;
	background: none;
	overflow: visible;
}

.wp-tiles-grid {
    top: 0;
    bottom: 0;
    width: 100%;
    //height: 100%;
    position: relative;
    @include user-select ( none );
}


@import 'tile';
@import 'tile_image';
@import 'tile_text_only';

/* ==========================================================================
   Animations
   ========================================================================== */

%animated {
    @include transition(all 300ms ease-out);
}
%no-translate {
    @include transform(translateX(0%));
    @include transform(translateY(0%));
}

@import 'animations_byline';
@import 'animations_image';
@import 'pagination';