@import "compass";

@mixin user-select($select) {
    $select: unquote($select);
    @include experimental(user-select, $select,
     -moz, -webkit, not -o, not -ms, -khtml, official
    );
}

/**************************************
    Admin
 **************************************/
.grid-template-editor {
    width: 100%;
    height: 100px;

    max-width: 100%;
    font-family: monospace;
    letter-spacing: 0.5em;
}

.wp-tiles-tile-letter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;
    height: 1em;
    width: 1em;

    font-size: 2em;
}

/**************************************
    Frontend
 **************************************/
.template-selector {
    list-style: none;

    li {
        @include background-image(linear-gradient(#252525,#0A0A0A));
        border: 1px solid #ffffff;

        display: inline;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        text-align: center;
        padding: 6px 9px;

        &:hover {
            border: 1px solid #999999;
        }
    }
}


/* ==========================================================================
   Base Styles
   ========================================================================== */

.wp-tiles-container {
	width: auto;
	height: auto;
	background: none;
	overflow: visible;
}

.wp-tiles-grid {
    top: 0;
    bottom: 0;
    width: 100%;
    //height: 100%;
    position: relative;
    @include user-select ( none );
}

.wp-tiles-tile {
    &.wp-tiles-legacy & {
        @include box-shadow ( 6px 6px 10px );
    }
    position: absolute;
    font-size: 13px;
    background-color: #EEE;
    padding: 0;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        outline: 1px solid #ccc;
    }
}

.wp-tiles-byline {
    max-height: 100%;
}

/* ==========================================================================
   BASE: Tile with BG image
   ========================================================================== */
.wp-tiles-tile-bg {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-size: cover;
    background-position: 50% 50%;
}

.wp-tiles-tile-with-image {

    .wp-tiles-byline {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

        background: rgba(0, 0, 0, 0.8);
        padding: 5px;
        max-height: 100%;
    }

    .wp-tiles-byline-title {
    //h1, h2, h3, h4, h5, h6 {

        //font-weight: 600;
        margin: 0;

        color: white;
        overflow: hidden;
        padding: 5px;
        padding-top: 2px;
    }

    .wp-tiles-byline-content {
        padding: 5px;
        font-size: 10px;
        font-weight: 600;
        color: #EEE;

        width: 90%;
        overflow: hidden;

        //white-space: nowrap;
        //text-overflow: ellipsis;
    }
}
/* ==========================================================================
   BASE: Text Only
   ========================================================================== */

.wp-tiles-tile-text-only {
    background-color: transparent;
    width: 100%;
    height: 100%;
    opacity: 1;
    padding: 5px;

    .wp-tiles-byline {

    }
    .wp-tiles-byline-title {
        margin: 0;
        font-size: 1.5em;
        line-height: 1.15em;
        padding-top: 15px;
        color: #282828;
        width: 85%;
        //height: 6.4em;
    }

    .wp-tiles-byline-content {
        color: #303030;
        font-style: normal;
        font-size: 14px;
        font-weight: 600;
    }
}




/* ==========================================================================
   Styles
   ========================================================================== */

/**************************************
    Show-on-hover byline
 **************************************/
.wp-tiles-style {
    &.byline-hover-effect {
        .wp-tiles-tile-with-image {
            .wp-tiles-byline {
                display: none;
            }
        }

        &.slide {

        }
    }


}


/*
.wp-tiles-tile-text-only {
    background-color: transparent;
    width: 100%;
    height: 100%;
    opacity: 1;

}*/


/*.wp-tiles-tile-bg {
    background-size: cover;
    background-repeat: no-repeat;
    //background-position: top center;
    background-position: center center; // @since 0.2.1
    width: 100%;
    height: 100%;
    background-color: #282828;
}

.wp-tiles-tile-color {
    position: absolute;
    width: 100%;
    height: 100%;
}

.wp-tiles-tile-byline {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    background: rgba(0, 0, 0, 0.8);
    padding: 5px;
}*/