/**************************************
    Admin
 **************************************/
/* line 13, ../scss/wp-tiles.scss */
.grid-template-editor {
  width: 100%;
  height: 100px;
  max-width: 100%;
  font-family: monospace;
  letter-spacing: 0.5em; }

/* line 22, ../scss/wp-tiles.scss */
.wp-tiles-tile-letter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 1em;
  width: 1em;
  font-size: 2em; }

/**************************************
    Frontend
 **************************************/
/* line 39, ../scss/wp-tiles.scss */
.template-selector {
  list-style: none; }
  /* line 42, ../scss/wp-tiles.scss */
  .template-selector li {
    background-image: -moz-linear-gradient(#252525, #0a0a0a);
    background-image: -webkit-linear-gradient(#252525, #0a0a0a);
    background-image: linear-gradient(#252525, #0a0a0a);
    border: 1px solid #ffffff;
    display: inline;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    text-align: center;
    padding: 6px 9px; }
    /* line 53, ../scss/wp-tiles.scss */
    .template-selector li:hover {
      border: 1px solid #999999; }

/* ==========================================================================
   Base Styles
   ========================================================================== */
/* line 64, ../scss/wp-tiles.scss */
.wp-tiles-container {
  width: auto;
  height: auto;
  background: none;
  overflow: visible; }

/* line 71, ../scss/wp-tiles.scss */
.wp-tiles-grid {
  top: 0;
  bottom: 0;
  width: 100%;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

/* line 80, ../scss/wp-tiles.scss */
.wp-tiles-tile {
  position: absolute;
  font-size: 13px;
  background-color: #EEE;
  padding: 0;
  overflow: hidden;
  cursor: pointer; }
  /* line 81, ../scss/wp-tiles.scss */
  .wp-tiles-tile.wp-tiles-legacy .wp-tiles-tile {
    -moz-box-shadow: 6px 6px 10px;
    -webkit-box-shadow: 6px 6px 10px;
    box-shadow: 6px 6px 10px; }
  /* line 91, ../scss/wp-tiles.scss */
  .wp-tiles-tile:hover {
    outline: 1px solid #ccc; }

/* line 96, ../scss/wp-tiles.scss */
.wp-tiles-byline {
  max-height: 100%; }

/* ==========================================================================
   BASE: Tile with BG image
   ========================================================================== */
/* line 103, ../scss/wp-tiles.scss */
.wp-tiles-tile-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: 50% 50%; }

/* line 112, ../scss/wp-tiles.scss */
.wp-tiles-tile-with-image .wp-tiles-byline {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 5px;
  max-height: 100%; }
/* line 123, ../scss/wp-tiles.scss */
.wp-tiles-tile-with-image .wp-tiles-byline-title {
  margin: 0;
  color: white;
  overflow: hidden;
  padding: 5px;
  padding-top: 2px; }
/* line 135, ../scss/wp-tiles.scss */
.wp-tiles-tile-with-image .wp-tiles-byline-content {
  padding: 5px;
  font-size: 10px;
  font-weight: 600;
  color: #EEE;
  width: 90%;
  overflow: hidden; }

/* ==========================================================================
   BASE: Text Only
   ========================================================================== */
/* line 152, ../scss/wp-tiles.scss */
.wp-tiles-tile-text-only {
  background-color: transparent;
  width: 100%;
  height: 100%;
  opacity: 1;
  padding: 5px; }
  /* line 162, ../scss/wp-tiles.scss */
  .wp-tiles-tile-text-only .wp-tiles-byline-title {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.15em;
    padding-top: 15px;
    color: #282828;
    width: 85%; }
  /* line 172, ../scss/wp-tiles.scss */
  .wp-tiles-tile-text-only .wp-tiles-byline-content {
    color: #303030;
    font-style: normal;
    font-size: 14px;
    font-weight: 600; }

/* ==========================================================================
   Styles
   ========================================================================== */
/**************************************
    Show-on-hover byline
 **************************************/
/* line 193, ../scss/wp-tiles.scss */
.wp-tiles-style.byline-hover-effect .wp-tiles-tile-with-image .wp-tiles-byline {
  display: none; }

/*
.wp-tiles-tile-text-only {
    background-color: transparent;
    width: 100%;
    height: 100%;
    opacity: 1;

}*/
/*.wp-tiles-tile-bg {
    background-size: cover;
    background-repeat: no-repeat;
    //background-position: top center;
    background-position: center center; // @since 0.2.1
    width: 100%;
    height: 100%;
    background-color: #282828;
}

.wp-tiles-tile-color {
    position: absolute;
    width: 100%;
    height: 100%;
}

.wp-tiles-tile-byline {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    background: rgba(0, 0, 0, 0.8);
    padding: 5px;
}*/
