/* line 1, ../scss/wp-tiles.scss */
.wp-tile-container {
  width: auto;
  height: 1000px;
  background: none;
  overflow: hidden;
}
/* line 7, ../scss/wp-tiles.scss */
.wp-tile-container .grid {
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-user-select: none;
}
/* line 18, ../scss/wp-tiles.scss */
.wp-tile-container .grid > div {
  position: absolute;
  font-size: 13px;
  background-color: #EEE;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}
/* line 27, ../scss/wp-tiles.scss */
.wp-tile-container .grid .tile-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 100%;
  background-color: #282828;
}
/* line 36, ../scss/wp-tiles.scss */
.wp-tile-container .grid .tile-color {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 42, ../scss/wp-tiles.scss */
.wp-tile-container .grid .tile-byline {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  background: rgba(0, 0, 0, 0.8);
  padding: 5px;
}
/* line 52, ../scss/wp-tiles.scss */
.wp-tile-container .grid .title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2em;
  height: 2.2em;
  color: white;
  overflow: hidden;
  padding: 5px;
  padding-top: 2px;
}
/* line 63, ../scss/wp-tiles.scss */
.wp-tile-container .grid .category {
  padding: 5px;
  font-size: 10px;
  font-weight: 600;
  color: #EEE;
  position: absolute;
  bottom: 2px;
  white-space: nowrap;
  width: 90%;
  height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 77, ../scss/wp-tiles.scss */
.wp-tile-container .grid .tile-text-only {
  background-color: transparent;
  width: 100%;
  height: 100%;
  opacity: 1;
}
/* line 84, ../scss/wp-tiles.scss */
.wp-tile-container .grid .tile-text-only .title {
  font-size: 24px;
  line-height: 1.15em;
  padding-top: 15px;
  color: #282828;
  width: 85%;
  height: 6.4em;
}
/* line 93, ../scss/wp-tiles.scss */
.wp-tile-container .grid .tile-text-only .category {
  color: #303030;
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
}
